language: python
matrix:
  fast_finish: true
  include:
    - python: 3.6
    - python: 3.7
    - python: 3.8
    - python: pypy
env:
  - TOX_PIP_VERSION=20.0.2
  - TOX_PIP_VERSION=19.3.1
  - TOX_PIP_VERSION=18.1
  - TOX_PIP_VERSION=10.0.1
install:
  - pip install pip==19.1.1
  - pip install tox-pip-version
  - pip install tox
script:
  - tox -v
sudo: false

notifications:
  email:
    recipients:
      - wmyll6+oss@gmail.com
    on_success: change
    on_failure: change
