language: python
matrix:
  fast_finish: true
  include:
    - python: 2.6
      env: TOXENV=py26
    - python: 2.7
      env: TOXENV=py27
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: pypy
      env: TOXENV=pypy
install:
  - pip install -U pip
  - pip install tox
script:
  - tox
sudo: false

notifications:
  email:
    recipients:
      - wmyll6+oss@gmail.com
    on_success: change
    on_failure: change
